@import '/src/styles/breakpoints.css';

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

.faq-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    /* gap: 100px; */
    max-width: 50rem;
}

details summary {
    width: 40rem;
    padding: 0.8rem 0;
    border-top: 1px solid #8e7f6b;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: '\25B8';
    color: #8e7f6b;
    position: absolute;
    font-size: 0.9rem;
    line-height: 0;
    margin-top: 0.5rem;
    right: 0;
    transition: 250ms linear;
}

details[open] summary:after {
    content: '\25B9';
    transform: rotate(90deg);
    font-size: 0.9rem;
}

details summary {
    outline: 0;
}

details p {
    width: 40rem;
    font-size: 1.3rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

details a {
    color: #8e7f6b;
    text-decoration: none;
    font-weight: bold;
}

details a:hover {
    text-decoration: underline;
}
