/* section {
    padding-top: 4rem;
    width: 50%;
    margin: auto;
} */

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

.faq-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    /* gap: 100px; */
    max-width: 50rem;
}

details summary {
    width: 50rem;
    padding: 0.8rem 0;
    border-top: 1px solid #8e7f6b;
    position: relative;
    cursor: pointer;
    font-size: 1.35rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: '\25B8';
    color: #8e7f6b;
    position: absolute;
    font-size: 1.3rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    transition: 250ms linear;
}

details[open] summary:after {
    content: '\25B9';
    transform: rotate(90deg);
    font-size: 2rem;
}

details summary {
    outline: 0;
}

details p {
    font-size: 1.2rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

details a {
    color: #8e7f6b;
    text-decoration: none;
    font-weight: bold;
}

details a:hover {
    text-decoration: underline;
}
